<div id="page-wrap">

    <div id="contact-info" class="vcard">
  
        <!-- Microformats! -->

        <h1 class="fn">Kyaw Thet Han</h1>
    
        <p>
            Linkedin: <a href=https://www.linkedin.com/in/kyaw-thet-han-744643108>https://www.linkedin.com/in/kyaw-thet-han-744643108</a> <br/>
            Mobile/Line/WhatsApp/Signal: <span class="tel">+95422300213</span><br />
            Email: <a class="email" href="mailto:kyawthethanjun30@gmail.com">kyawthethanjun30@gmail.com</a>
        </p>
    </div>
            
    <div id="objective">
        <p>
            Seeking a position or opportunity where extensive experience will be further developed
and utilized. 
        </p>
    </div>
    
    <div class="clear"></div>
    
    <dl>
        <dd class="clear"></dd>
        
        <dt>Education</dt>
        <dd>
            <h2>University of Information Technology  - Yangon</h2>
            <p><strong>M.C.Sc (High Performance Computing):</strong> Graduated Nov 2019<br />
               <strong>B.C.Sc (High Performance Computing):</strong> Graduated Nov 2017</p>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Skills</dt>
        <dd>
            <ul>
            <li>Linux and Window server operating system administration</li>
            <li>AWS, Azure, Google, DigitalOcean (Cloud Services)</li>
            <li>Docker, Kubernetes (Container and Orchestration)</li>
            <li>Bash and Ansible (Automation)</li>
            <li>Terraform, Cloudformation, Helm Chart (Infrastructure as Code)</li>
            <li>Cloudwatch, Azure monitor, Nginx, Zabbix, Prometheus, Grafana. Cacti
(Monitoring)</li>
            <li>Git, Gitlab , Jenkins and Codepipeline (CI/CD)</li>
            <li>ArgoCD (Gitops)</li>
            <li>Python (Web2py, Scripting, Flask)</li>
            <li>PHP (Laravel, Wordpress)</li>
            <li>HTML, Javascript (Node.js, Vue.js, Next.js)</li>
            <li>Java (Spring/Spring Boot)</li>
            <li>Working for highly available enterprise systems</li>
            <li>System and Database migration</li>
            <li>Good English 4 skills</li>
            <li>Work well with others</li>
            <li>Self motivated</li>
        </ul>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Experience</dt>
        <dd>
            <p>Oct 2019 - Present</p>
            <h2>NEX4 ICT Solutions - <span>Senior Cloud/DevOps Engineer</span></h2>
            <p><ul>● Performed infra setup and management for multiple AWS and Azure Accounts.
                <li>
                    ● Performed Microsoft Exchange to O365 migration span across 3 different
                    <li>
                    organizations and 2 tenants.
                        <li>
                    ● Implemented Microsoft Intune, Data Loss Protection (DLP) for device
                            <li>
                    management and endpoint security.
                                <li>
                    ● Builded Custom AMI images that comply with customer’s organization policy.
                                    <li>
                    ● Developed Infrastructure as Code (IaC) infras with Cloud Formation and Terraform.
                                        <li>
                    ● Managed E-commerce, VoD and Music streaming platforms and Banking backend
                                            <li>
                    systems.
                                                <li>
                    ● Performed service and configuration management of EC2 instances on aws with
                                                    <li>
                    Ansible.
                                                        <li>
                    ● Performed AWS, Azure infra assessment for improving Cost and Utilization
                                                            <li>
                    Efficiency
                                                                <li>
                    ○ Over 50% cost optimization for an E-commerce system.
                                                                    <li>
                    ○ Optimize SAP on Azure cost by 40%.
                                                                        <li>
                    ● Planned and implemented On-Premise to Cloud / Cloud to Cloud Migrations and
                                                                            <li>
                    HA setup.
                                                                                <li>
                    ○ DigitalOcean to AWS
                                                                                    <li>
                    ○ AWS region to region
                                                                                        <li>
                    ● Implemented Cloud DR solutions and Data Protection Solutions.
                                                                                            <li>
                    ● Implemented CI/CD pipeline for android, laravel and java applications with Gitlab
                                                                                                <li>
                    Pipeline and AWS codepipeline services.
                                                                                                    <li>
                    ● Deployed HA and scaling for MSSQL, Postgres, Mysql DBs, redis and mongodb.
                                                                                                        <li>
                    ● Deployed auto scaling on API services.
                                                                                                            <li>
                    ● Tested and implemented SD-WAN integration with AWS Transit Gateway.
                                                                                                                <li>
                    ● Designed and implemented Microservice Kubernetes infra solution on AWS.
                                                                                                                </ul></p>
            
            <p>Sep 2017 - Sep 2019</p>
            <h2>FRONTIIR Co.Ltd. - <span>Senior Associate System Engineer</span></h2>
            <p><ul>● Worked together with the RnD team for utilizing the new storage system
                <li>
                    (Termaxia).
                    <li>
                    ● Performed performance bottleneck troubleshooting concerned with web server
                        <li>
                    and databases
                            <li>
                    ○ Web: nginx, apache (php-fpm) and various wsgi ( gunicorn , uwsgi)
                                <li>
                    ○ Database: mysql, postgresql, mongodb
                                    <li>
                    ● Setuped and maintained monitoring systems like Nagios, Munin(odoo), Cacti,
                                        <li>
                    Observium and Prometheus.
                                            <li>
                    ● Developed two systems for team internal use - hardware inventory management
                                                <li>
                    system using “web2py” and simple customer circuit management tool using php and
                                                    <li>
                    bootstrap.
                                                        <li>
                    ● Performed as Devops in projects related to iptv, voip and Business operation
                                                            <li>
                    support systems.
                                                                <li>
                    ● Implement CI pipeline with jenkins and later Gitlab pipeline with Gitlab Runner for
                                                                    <li>
                    Laravel and Flask projects.
                                                                        <li>
                    ● Implemented centralized ELK log analytic system.
                                                                            <li>
                    ● Involved in the development and launch of two video streaming projects (mobile
                                                                                <li>
                    app and tv box).
                                                                                    <li>
                    ● Performed network automation with ansible (VXLAN setup).
                                                                                        <li>
                    ● Involved in Data Center Migrations.
                                                                                        </ul></p>
            <p>Sep 2017 - Sep 2019</p>
            <h2>FRONTIIR Co.Ltd. - <span>NOC/Network Engineer</span></h2>
            <p>● Troubleshoot Business Internet (BI) and Dedicated Internet Access(DIA) circuit.
                ● Monitor Back Bone Network with Nagios and Cacti.
                ● Customer ticket handling and escalating.</p>
        </dd>
        
        <dd class="clear"></dd>
        
        <dt>Knowledge</dt>
        <dd><p> <ul>● Virtualization, Cloud environment and modern data center. Familiar with multiple
			<li>
            hypervisors like Xenserver, VMware ESX / ESXi , Linux KVM.
				<li>
            ● Familiar and understand how private cloud with Openstack deployment work
					<li>
            ● Knowledge of the Linux kernel and kernel modules.
						<li>
            ● Understand various authentication method kerberos, OAuth, JWT, Certificate
							<li>
            Chain (Private/Public key authentication)
								<li>
            ● Familiar with CIS benchmarks for on-premise, AWS and Azure.
									<li>
            ● Familiar with open source tools, monitoring systems, troubleshooting, change
										<li>
            tracking and routine maintenance.
											<li>
            ● Automated Machine Image building and provisioning (Packer and Cloud-Init)
												<li>
            ● AWS well-architected framework
													<li>
            ● Network Routing and Switching.
														<li>
            ● VOIP and SIP routing.
															<li>
            ● Video Encoding/Decoding Process, live streaming and Content Management.
																<li>
            ● Networked storage (SAN, NAS) concepts.
																	<li>
            ● ITIL (Information Technology Infrastructure Library)
																	</ul></p></dd>
        
        <dd class="clear"></dd>
        
        <dt>Download Resume</dt>
        <dd><button href="../assets/Kyaw Thet Han - Resume.pdf">Kyaw Thet Han - Resume.pdf</button></dd>
        
        <dd class="clear"></dd>
    </dl>
    
    <div class="clear"></div>

</div>